a:active, a:focus, a:hover{
	text-decoration: none;
	color: #ffffff;
}

.button {
	background-color: #01F9AC !important;
    color: #ffffff !important;
	padding: 1rem;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	font-size: 0.85rem;
	height: 3rem;
	letter-spacing: 0.04rem;
	line-height: 3rem;
    padding: 0 2.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 0 !important;
}
